

@media (max-width:1100px){
    .about .about__content{
        display: block;
    }
}


@media (max-width:550px){
    .about .about__content{
        display: block;
    }

    .about__content img{
        width: 400px;
        height: 400px;
    }

    .station .station__footer a {
        font-size: 20px;
        padding: 8px 14px;
        border-radius: 10px;
        background-color: #fff;
        color: #333;
        font-family: 'Roboto',sans-serif;
    }
}

@media (max-width:436px){
    .main .navbar {
        height: 70px;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: #fff;
    }
    
}

@media (max-width:410px) {
    .about__content img{
        width: 350px;
        height: 350px;
    }
    .station .station__footer a {
        font-size: 18px;
        padding: 8px 14px;
        border-radius: 10px;
        background-color: #fff;
        color: #333;
        font-family: 'Roboto',sans-serif;
    }
}

@media (max-width:375px){
    .main .navbar {
        height: 70px;
        width: 310px;
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: #fff;
    }
    .main .navbar .menu__item a{
        font-size: 16px;
    }
    .about__content img{
        width: 300px;
        height: 300px;
    }
    .station__main img{
        width: 300px;
        height: 300px;
    }
    
}